.wrapper__infos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 130px;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 22px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
  position: absolute;
}

.info__item {
  display: flex;
  align-items: center;
}

.info__icon {
  padding: 15px;
  background: var(--beige);
  border-radius: 50%;
}

.info__text {
  max-width: 18ch;
  color: rgba(29, 6, 5, 0.9);
  margin-left: 18px;
}

.info__text h3 {
  font-family: 'Lilita One';
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.info__text p {
  color: rgba(29, 6, 5, 0.6);
}

#info__border1 {
  margin-right: 45px;
}

#info__border2 {
  border-right: 1px solid rgba(73, 46, 21, 0.15);
  border-left: 1px solid rgba(73, 46, 21, 0.15);
  padding-right: 45px;
  padding-left: 45px;
}

#info__border3 {
  margin-left: 45px;
}

@media (max-width: 940px) { 
  .wrapper__infos {
    margin-bottom: 280px;
  }

  .infos {
    width: 90%;
    flex-direction: column;
    align-items: stretch;
    padding: 26px 30px;
    bottom: -340px;
    box-shadow: 0px 4px 35px rgba(179, 155, 132, 0.3);
  }

  .info__item {
    justify-items: center;
  }

  #info__border1 {
    margin-right: 0;
    margin-bottom: 16px;
  }

  #info__border2 {
    border-right: none;
    border-left: none;
    border-top: 1px solid rgba(73, 46, 21, 0.15);
    border-bottom: 1px solid rgba(73, 46, 21, 0.15);
    
    padding: 16px 0;
  }

  #info__border3 {
    margin-left: 0;
    margin-top: 16px;
  }
}