.instagram {
  overflow: hidden;
}

.instagram h3 {
  font: 400 3.2rem 'Lilita One', sans-serif;
  color: var(--brown);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4px;
}

.instagram > p {
  color: var(--brown);
  text-align: center;
  margin-bottom: 16px;
}

.instagram-images {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.instagram-images::before {
  content: "";
  position: absolute;
  visibility: none;
  inset: 0;
  width: 100%;
  background: linear-gradient(270.22deg, #21201B 1%, rgba(33, 32, 27, 0) 15%);
}

.instagram-images::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  background: linear-gradient(270.22deg, #21201B 1%, rgba(33, 32, 27, 0) 15%);
  transform: rotate(180deg);
}

.instagram-text {
  white-space: nowrap;
  padding: 10px 0;
  font: 400 2.8rem 'Lilita One', sans-serif;
  color: var(--brown);
  text-transform: uppercase;
  background: var(--yellow);
}

@media (max-width: 800px) {
  .instagram h3 {
    font-size: 2.5rem;
  }
  .instagram p {
    font-size: 1.6rem;
  }
  .instagram-images {
    height: 100px;
  }
  .instagram-images img {
    max-width: 124px;
  }
  .instagram-text {
    padding: 5px 0;
    font-size: 1.3rem;
  }
}