.menu {
  margin-bottom: 70px;
  position: relative;
}

.menu::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 50%;
  bottom: 0;
  background: url(../../assets/banner-menu.png) no-repeat center right;
  z-index: -1;
}

.menu::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--brown);
  z-index: -1;
}

.content {
  display: flex;
  align-items: center;
}

.content__left,
.content__right {
  width: 50%;
}

.content__right {
  padding: 70px 0 70px 30px;
}

.menu__info {
  display: flex;
  margin-bottom: 4px;
}

.menu__info span {
  flex-grow: 1;
  border-bottom: 3px dotted var(--beige);
  margin-bottom: 5px;
}

#content-hide {
  display: none;
}

.content__left h3 {
  font-size: 4.14rem;
  color: var(--brown);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content__left p {
  color: rgba(29, 6, 5, 0.69);
  margin-bottom: 18px;
  max-width: 45ch;
}

.content__left button {
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  background: var(--red);
  font-weight: 700;
  transition: all .3s;
}

.content__left button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 20px rgba(179, 155, 132, 0.7);
}

.content__left h3 span {
  background: var(--yellow);
  border-radius: 6px;
  padding: 2px 4px;
}

.content__right h3 {
  margin-bottom: 15px;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: var(--yellow);
}

.content__right h4,
.price {
  font-size: 2rem;
  text-transform: uppercase;
  color: #FAE4D0;
}

.content__right .menu__description {
  max-width: 50ch;
  flex-wrap: wrap;
}

.content__right .menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.content__right h4,
.content__right h3,
.content__left h3,
.price {
  font-family: 'Lilita One';
  font-weight: 400;
}

@media (max-width: 940px) {
  .content {
    flex-direction: column;
  }
  .menu::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0; 
    right: 0;
    bottom: 67%;
    background: url(../../assets/banner-menu.png) no-repeat center right;
    z-index: -1;
  }
  .menu::after {
    content: "";
    position: absolute;
    left: 0;
    top: 33%;
    right: 0;
    bottom: 0;
    background: var(--brown);
    z-index: -1;
  }
  #content-show {
    display: none;
  }
  #content-hide {
    display: block;
    margin-bottom: 23px;
  }
  .content__left,
  .content__right {
    width: 100%;
  }
  .content__left {
    margin: 40px 0;
  }
  .content__left h3,
  .content__right h3 {
    font-size: 2.5rem;
  }
  .content__left p {
    font-size: 1.4rem;
  }
  .content__right {
    padding: 0 0;
  }
  .content__right h3 {
    margin-top: 50px;
  }
  .content__right h4 {
    font-size: 2rem;
  }
  .content__right p {
    font-size: 1.4rem;
  }
  .content__right .menu__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .content__right .menu__item:last-child{
    margin-bottom: 47px;
  }  
}

