.realeza {
  padding-top: 128px;
  overflow-x: hidden;
}

.realeza h3 {
  font: 400 3.2rem 'Lilita One', sans-serif;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: var(--brown);
}

.realeza > p {
  color: var(--brown);
  margin-bottom: 16px;
}

.glider {
  position: relative;
  margin-bottom: 16px;
}

.glider::-webkit-scrollbar {
  display: none;
}

.glider__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
  border-radius: 10px;
  padding: 12px 18px;
}

.glider__box > p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  color: var(--brown);
  margin-bottom: 16px;
}

.glider__box:not(:first-child) {
  margin-left: 16px;
}

.person {
  display: flex;
  align-items: center;
}

.person img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.person-info {
  color: var(--brown);
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.person-info p:first-child {
  font: 400 1.45rem 'Lilita One', sans-serif;
  text-transform: uppercase;
}

.person-info p:last-child {
  font-size: 1.2rem;
}

.glider-dot {
  display: block;
  width: 45px;
  height: 4px;
  background: var(--white);
  margin-bottom: 128px;
}

.glider-dot.active {
  background: var(--yellow);
}

@media (max-width: 800px) {
  .realeza {
    padding-top: 64px;
  }
  .realeza h3 {
    font-size: 2.5rem;
    margin-bottom: 8px;
  }
  .glider {
    margin-bottom: 64px;
  }
  .glider__box > p {
    display: block  ;
  }
  .carousel-bars.glider-dot {
    margin-bottom: 64px;
  }
  .glider__box:not(:first-child) {
    margin-left: 10px;  
  }
}